<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @name.name %>
</p>

<p>
  <strong>Is first name:</strong>
  <%= @name.is_first_name %>
</p>

<p>
  <strong>Is middle name:</strong>
  <%= @name.is_middle_name %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
